<h3 style="color:black">View Product</h3>

<article class="product-frm form-group">

    <h4>
      Name: {{ctrl.product.name}}
    </h4>

    <div>test
      <div class="admin-view-image" style="width: 200px;"><img src="{{ctrl.product.image}}"/></div>
    </div>


    <h5>
      Category: {{ctrl.product.category}}
    </h5>

    <h5>
      Description: {{ctrl.product.description}}
    </h5>

    <h5>
      Price: {{ctrl.product.price}}
    </h5>

    <h5>
      Quantity: {{ctrl.product.quantity}}
    </h5>

    <div>
      <button type="submit" class="btn btn-danger" ng-click="ctrl.goBack()">Back</button>
      <button type="submit" class="btn btn-primary" ng-click="ctrl.goUpdate(ctrl.product.id)">{{ctrl.product_update_btn}}</button>
    </div>

</article>













































<!-- dios mio................ -->