<h3 style="color:black">Products</h3>

<div ng-hide="ctrl.is_products">
	<p>
		You have no products
	</p>
</div>

<div ng-show="ctrl.is_products">
	<table class="products-list table">
		<tr>
			<th>ID</th>
			<th>Image</th>
			<th>Name</th>
			<th>Category</th>
			<th>Price</th>
			<th>Stock</th>
			<th><em>View</em></th>
			<th><em>Edit</em></th>
			<th><em>Delete</em></th>
		</tr>
		<tr ng-repeat="product in ctrl.products track by $index">
			<td>{{product.id}}</td>
			<td><img class="dashboard_list_img" ng-src="{{product.image}}"/></td>
			<td><em>{{product.name}}</em></td>
			<td>{{product.category}}</td>
			<td>{{product.price | currency : "CAD$ " : 2}}</td>
			<td>{{product.quantity}}</td>
			<td><a ng-click="ctrl.viewProduct(product)" class="pointer">View</a></td>
			<td><a ng-click="ctrl.editProduct(product)" class="pointer">Edit</a></td>
			<td><a ng-click="ctrl.deleteProduct(product.id)" class="pointer">Delete</a></td>
		</tr>
	</table>
</div>
