<body>
 <!-- Navigation -->
     <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Start Journey</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav><br><br><br><br><br><br>
<div class="container">
     <div class="row">

        <div class="col-md-12">
          <img src="/assets/img/banner-cart.jpg" class="img-responsive" alt="">

          <div ng-show="ctrl.is_products">
  <table class="products-list table">    <br>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Product</th>
      <th>Price</th>
       <th>Quantity</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat="item in ctrl.cart track by $index">
      <td>{{item.product.id}}</td>
      <td><img class="dashboard_list_img" ng-src="{{item.product.image}}"/></td>
      <td>{{item.product.name}}</td>
      <td>{{item.product.price}}</td>
      <td>
        <p>Your current quantity is {{item.quantity}}</p>
        <p>Your new quantity is {{ctrl.quantity}}</p>
        <input type="number" placeholder='Enter a new quantity' ng-model='ctrl.quantity'>
        <button ng-click='ctrl.updateQuantity(item.product.id,ctrl.quantity)'>Update Quantity</button>
      </td>
      <td><button type="delete" ng-click="ctrl.deletefromCart(item.product.id)">Delete</button></td>

    </tr>
  </table>
  <button class="btn btn-primary" ng-click="ctrl.checkout()">Check out</button>
    </div><!-- /.blog-main -->
    </div>


          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
