<body>
 <!-- Navigation -->
 <nav class="navbar navbar-default navbar-static-top">
   <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" ng-click="ctrl.toPage('shop')"><i class="fa fa-first-order fa-2x"></i></a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="navIcons">
       <ul class="nav navbar-nav">
         <li class=""><a ng-click="ctrl.toCategory('Clothing')">apparel<span class="sr-only">(current)</span></a></li>
         <li><a  ng-click="ctrl.toCategory('Food')">provisions</a></li>
         <li><a  ng-click="ctrl.toCategory('Shelter')">structures</a></li>
         <li><a  ng-click="ctrl.toCategory('Safety')">safekeeping</a></li>
       </ul>

     </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
 </nav><br><br><br><br><br><br>
<div class="container">
     <div class="row">

        <div class="col-md-12">
          <img src="/assets/img/banner-cart.jpg" class="img-responsive" alt="">


  <table class="products-list table">    <br>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Product</th>
      <th>Price</th>
       <th>Quantity</th>
      <th>Delete</th>
    </tr>
    <div ng-show="ctrl.is_products">
    <tr ng-repeat="item in ctrl.cart track by $index">
      <td>{{item.product.id}}</td>
      <td><img class="dashboard_list_img" ng-src="{{item.product.image}}"/></td>
      <td>{{item.product.name}}</td>
      <td>{{item.product.price}}</td>
      <td>
        <p>Your current quantity is {{item.quantity}}</p>
        <p>Your new quantity is {{ctrl.quantity}}</p>
        <input type="number" placeholder='Enter a new quantity' ng-model='ctrl.quantity'>
        <button ng-click='ctrl.updateQuantity(item.product.id,ctrl.quantity)'>Update Quantity</button>
      </td>
      <td><button type="delete" ng-click="ctrl.deletefromCart(item.product.id)">Delete</button></td>

    </tr>
  </table>
  <button class="btn btn-primary" ng-click="ctrl.checkout()">Check out</button>
    </div><!-- /.blog-main -->
    </div>


          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
