<!--
<div class="row" ng-repeat="row in ctrl.products by $index | filter: {category: ctrl.category}" ng-if="$index % 3 == 0">
  <div class="col-xs-3"
       ng-repeat="i in [$index, $index + 1, $index + 2]"
       ng-if="row[i] != null">
       <img src="{{ctrl.row[i].image}}" alt="" />
       <h3>{{ctrl.row[i].name}}</h3>
  </div>
</div>
-->

<div ng-repeat="product in ctrl.products | filter: {category: ctrl.category}">
  <img src="{{product.image}}" alt="" />
  <h3>{{product.name}}</h3>
</div>
