<nav>
    <div class="content-wrapper">
        <ul class="left-nav">
            <li><img src="assets/img/logo.png"></li>
        </ul>
        <ul class="right-nav">
            <li><i class="fa fa-shopping-cart"></i><span class="cart">Cart</span></li>
        </ul>
    </div>
</nav>

</div>
    <!--Page Content -->
<h3>Categories</h3>
<div ng-hide="ctrl.is_products">
  <p class="admin-dash-no-products categories-warning">
    There are no categories available for this type of product.
  </p>
</div>

    <div class="container">
     <!-- Page Heading -->
<div class="row">
  <div class="col-sm-6 col-md-4" class="img-responsive"  ng-repeat="product in ctrl.products | filter: {category: ctrl.category}" ng-click="ctrl.goProduct(product.id)">
    <div class="thumbnail">
    <div class="hovereffect">
    <img class="img-responsive category pointer" src="{{product.image}}" /><br>
        <!-- Page Heading -->
       <div class="overlay">
       </div>
       </div>
   <div class="caption">
    <a class="pointer"><h4>{{product.name}}  | {{product.category}}</h4></a>
</div>
        <p><a  href="#" class="btn btn-primary" role="button">Details</a> </p>
      </div>
    </div>
  </div>
</div>



            

  </div>
  </div>
        </div>
        </div></div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; EndOfDays 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
