<form action=" " method=" ">
  
  <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Your name" name="name">
  </div>

  <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Your email" name="email">
  </div>

  <div class="form-group">
      <label for="phone">Phone number</label>
      <input type="text" class="form-control" id="phone" placeholder="Your telephone" name="phone">
  </div>  

  <div class="form-group">
      <label for="city">City</label>
      <select class="form-control" id="city" name="city">
        <option value="Toronto">Toronto</option>
        <option value="New York City">New York City</option>
        <option value="Paris">Paris</option>
      </select>
  </div>

  <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" name="gender">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select>
  </div>

  <div class="checkbox">
      <p style="font-weight: bold;">Agreement</p>
      <label for="agree"><input type="checkbox" value="Agree" name="agree" checked="Agree">I agree to the terms and conditions</label>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>