<div>
  <h1>Your order:</h1>
</div>
<table class="products-list table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>&nbsp;</th>
  </tr>
  <tr ng-repeat="item in ctrl.cart track by $index">
    <td>{{item.product.id}}</td>
    <td>{{item.product.name}}</td>
    <td>{{item.product.price}}</td>
    <td>{{item.quantity}}</td>
  </tr>
</table>
<hr>
<h5>Subtotal: {{ctrl.subtotal | currency : "CAD$ " : 2}}</h5>
<h5>Tax: {{ctrl.total - ctrl.subtotal | currency : "CAD$ " : 2}}</h5>
<h5>Total: {{ctrl.total | currency : "CAD$ " : 2}}</h5>
