<nav class="navbar navbar-default navbar-static-top main-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="ctrl.toPage('shop')"><i class="fa fa-first-order fa-2x"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navIcons">
      <ul class="nav navbar-nav">
        <li class=""><a href="#" ng-click="ctrl.toCategory('Clothing')">apparel<span class="sr-only">(current)</span></a></li>
        <li><a href="#" ng-click="ctrl.toCategory('Food')">provisions</a></li>
        <li><a href="#" ng-click="ctrl.toCategory('Shelter')">structures</a></li>
        <li><a href="#" ng-click="ctrl.toCategory('Safety')">safekeeping</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      	<li><a href="http://localhost:8080/api/init" ng-click=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#" ng-click="ctrl.toLogin()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      	<li><a href="#"><span ng-click="ctrl.toCart()" class="fa fa-shopping-cart fa-2x"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- Navigation -->


<section class="top-content" role="topbanner" ng-style="{'background-image': 'url({{ctrl.background_image}})'}">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<div class="content">
					<h1>
						entity &#8482;
					</h1>
					<h3>
						A place to get all of you End of Days products.
					</h3>

					<div class="">
						<form>
							<!-- TO DO #3: ENABLE PRODUCT SEARCH -->
							<div class="form-container">
								<input type="text" class="form-control"  placeholder="Search for a brand or item" >
								<a class="search-btn"><img src="assets/img/icon-search@2x.png"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="product-view" role="product-view">
	<div class="content-wrapper">
		<div class="row">
			<!-- TODO #3: SHOW PRODUCTS -->
			<div class="col-xs-12 col-sm-3">
				<div id="product-card" class="product-card">
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<div class="page-scroll">
								</div><!-- /page-scroll -->
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div ng-click="ctrl.toCategory('Clothing')" id="iconBox">
					<p><i class="fa fa-leaf fa-5x" id="icons"></i></p>
					<p>apparel</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div id="product-card" class="product-card">
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<div class="page-scroll">
								</div><!-- /page-scroll -->
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div ng-click="ctrl.toCategory('Food')" id="iconBox">
					<p><i class="fa fa-cutlery fa-5x" id="icons"></i></p>
					<p>provisions</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div id="product-card" class="product-card">
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<div class="page-scroll">

								</div><!-- /page-scroll -->
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div ng-click="ctrl.toCategory('Shelter')" id="iconBox">
					<p><i class="fa fa-home fa-5x" id="icons"></i></p>
					<p>structures</p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-3">
				<div id="product-card" class="product-card">
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<div class="page-scroll">

								</div><!-- /page-scroll -->
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div ng-click="ctrl.toCategory('Safety')" id="iconBox">
					<p><i class="fa fa-eye fa-5x" id="icons"></i></p>
					<p>safekeeping</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<section>




<div ng-click="ctrl.toCategory('Shelter')"></div>
