
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Start Journey</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<section class="top-content" role="topbanner" ng-style="{'background-image': 'url({{ctrl.background_image}})'}">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<div class="content">
					<h1>
						The Entity
					</h1>
					<h3>
						A place to get all of you End of Days products.
					</h3>

					<div class="">
						<form>
							<!-- TO DO #3: ENABLE PRODUCT SEARCH -->
							<div class="form-container">
								<input ng-model="search" type="text" class="form-control"  placeholder="Search for a brand or item" >
								<a class="search-btn" ng-click="item in ctrl.products | orderBy:'name' | filter:search">
                                <img src="assets/img/icon-search@2x.png"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="product-view" role="product-view">
	<div class="content-wrapper">
		<div class="row">
			<!-- TODO #3: SHOW PRODUCTS -->
			<div class="col-xs-12 col-sm-3">
				<div id="product-card" class="product-card">
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<div class="page-scroll">
									<!-- <i class="fa fa-cutlery fa-5x"></i> -->
								</div><!-- /page-scroll -->
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div ng-click="ctrl.toCategory('Food')" id="iconBox">
					<p><i class="fa fa-cutlery fa-5x"></i></p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div id="product-card" class="product-card">
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<div class="page-scroll">
								</div><!-- /page-scroll -->
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div ng-click="ctrl.toCategory('Shelter')" id="iconBox">
					<p><i class="fa fa-home fa-5x"></i></p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div id="product-card" class="product-card">
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<div class="page-scroll">
									
								</div><!-- /page-scroll -->
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div ng-click="ctrl.toCategory('Safety')" id="iconBox">
					<p><i class="fa fa-life-ring fa-5x "></i></p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-3">
				<div id="product-card" class="product-card">
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<div class="page-scroll">
									
								</div><!-- /page-scroll -->
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div ng-click="ctrl.toCategory('Safety')" id="iconBox">
					<p><i class="fa fa-leaf fa-5x "></i></p>
					<p>housing</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<section>
