#admin {
	background:white !important;
	height:100%;
	width:100%;
	font-size:0;
}
#admin h3{
	font-size:2.5rem;
	color:white;
}

#admin .nav-panel{
	background:#ff6d37;
	padding:40px;
	width:25%;
	height:100%;
	float:left;
	font-size:1rem;
}

#admin .nav-panel ul{
	list-style: none;
	padding:0px;
	margin:40px 0px;
}

#admin .nav-panel ul li{
	margin:10px 0px;
	color:white;
	font-size:2rem;
	font-weight:200;
}
#admin .nav-panel ul li > a{
	color:white;
}
#admin .nav-panel ul li:hover{
	color:#2b96ff;
}

#admin .main-content{
	background: white;
	float:left;
	padding:40px;
	width:75%;
	font-size:1.3rem;
	color:#555;
}

#admin .products-list a{
	color:#2b96ff;
}
#admin .product-frm{
	width:50%;
	min-width:400px;
}

#admin label{
	display: block;
	font-size:1rem;
	font-weight:200;
	margin-bottom:5px;
}

#admin .product-frm input, #admin .product-frm textarea, #admin .product-frm select{
	width:100%;
}
#admin .product-frm select{
	font-size:1rem;
}


/* IMPROVEMENTS - admin-dash.html */

.dashboard_list_img {
	height: 30px;
	width: 50px;
	border: 1px solid #ccc;
}

.dashboard_list_img:hover {
    position:absolute;
    padding-top: 16px;
    width: 400px;
    height: 200px;
    -moz-box-shadow: 0 0 25px rgba(0,0,0,0.5);
	  -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.5);
	  box-shadow: 0 0 25px rgba(0,0,0,0.5);
	  border: 1px dashed #000;
}

td {
	height: 50px;
}

td:first-child + td {
	width: 100px;
}

td:first-child + td + td {
	width: 310px;
}

tr:first-child {
	background-color: #666;
	color: #fff;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

.pointer {
    cursor: pointer;
}

/* IMPROVEMENTS - admin-view.html */

.admin-view {
	width: 600px;
}
.admin-view-header img {
	/*width: 600px;*/
	border-bottom: 1px solid #ccc;
	color: #ccc;
}

.admin-view-image img {
	/*width: 600px;*/
	-moz-box-shadow: 0 0 25px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,0.5);
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
	border: 1px solid #666;
}

.admin-view-title {
	font-size: 1.6em;
}

.admin-view-description {
	/*width: 600px;*/
	text-align: justify;
}

